:root {
  --font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #101010;
  --primary-hover: #232323;
  --primary-focus: rgba(117, 117, 117, 0.5);
  --primary-inverse: #fff;
  --h1-color: #101010;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #fdd835;
    --primary-hover: #ffeb3b;
    --primary-focus: rgba(253, 216, 53, 0.25);
    --primary-inverse: #101010;
    --background-color: #101010;
    --card-background-color: #101010;
    --h1-color: #fff;
  }
}

[data-theme='dark'] {
  --primary: #fdd835;
  --primary-hover: #ffeb3b;
  --primary-focus: rgba(253, 216, 53, 0.25);
  --primary-inverse: #101010;
  --background-color: #101010;
  --card-background-color: #101010;
  --h1-color: #fff;
}
